 <!-- ========== Navbar ========== -->
    <div class="navbar navbar-magnet navbar-fixed-top" role="navigation" id="navbar-main-magnet">
        <div class="container">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
               
                
                <!-- Logo -->
                <a class="navbar-brand" href="/"><img src="assets/grace_final/logo.png" alt=" East Queens" /></a>
                <!-- /Logo -->
            </div>
            
            <!-- Navigation -->
            <div class="navbar-collapse collapse">
            <% if(!user_signed_in?) %>
                <ul class="nav navbar-nav navbar-right">
                    <!-- Home -->
                    <li>
                   <li><%= link_to "Home", root_path %></li>
                    </li>
                    <li>
                   <li><%= link_to "I'm New", im_new_path %></li>
                    </li>
                    <li>
                   <li><%= link_to "Get to know us", know_us_path %></li>
                    </li>
                    <li>
                   <li><%= link_to "What we do", what_we_do_path %></li>
                    </li>
                     <li>
                     <li>
                    <li><%= link_to "Events", events_path %></li>
                    </li>
                    <li>
                   <li><%= link_to "Resources", resources_path %></li>
                    </li>
                     <li>
                   <li><%= link_to "Contribute", contribute_path %></li>
                    </li>
                     <li>
                   <li><%= link_to "Contact", contact_path %></li>
                    </li>
                </ul>
                <% else %>
                 <ul class="nav navbar-nav navbar-right">
                    <!-- Home -->
                    <li><%= link_to "Home", root_path %></li>
                    
                   <li><%= link_to "Get to know us", know_us_path %></li>

                  
                   <li><%= link_to "Resources", resources_path %></li>
                    

                   
                    <li><%= link_to "Events", events_path %></li>
                    

                
                    <li><%= link_to "Create New", create_path %></li>
                    

                   
                     <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
                     
                </ul>
                 <% end %>
            </div>
            <!-- /Navigation -->
            
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- ========== /Navbar ========== -->  