 <%= render 'shared/navbar' %>
  <div class="section bg-white">
      <div class="container">
          
  <div id="pages">
<div class="panel panel-default">
  <div class="panel-body">
    
    <!-- Image -->
    <div class="row">
      <div class="col-md-12 text-center">
       <h1><%= @sermon.title %></h1>
      </div>
    </div>


    <br>

    <!-- Main Info -->

    <!-- About -->
    <div class="row text-center">
      <div class="col-md-6">
        <h2>About Sermon</h2>
        <p><%= @sermon.summary %></p>
      </div>

      <div class="col-md-6">
        <h2>Time and Date</h2>
        <p><%= @sermon.date.strftime(" %A, %b  %d  %Y") %> <%= @sermon.time.strftime("%l:%M %p") %></p>
      </div>

         <div class="row">
       <div class="col-md-12">
        <h2>Sermon Audio</h2>
  
        <%= link_to "Play Audio", @audios[0].sound.url(), class: " btn btn-inverse play"  %>

      </div>
      </div>



      
      </div>

     

      </div>
      </div>
      </div>
      </div>
      </div>

