 <%= render 'shared/navbar' %>
  <div class="section bg-white">
      <div class="container">
          
  <div id="pages">
<div class="panel panel-default">
  <div class="panel-body">
    
    <!-- Image -->
    <div class="row">
      <div class="col-md-12">
       <h1><%= @event.title %></h1>
        <%= image_tag @photos[0].image.url(), class: "img-responsive" if @photos.length > 0 %>
      </div>
    </div>

    <br>

    <!-- Main Info -->

    <!-- About -->
    <div class="row">
      <div class="col-md-4">
        <h2>About this event</h2>
        <p><%= @event.description %></p>
      </div>

      <div class="col-md-4">
        <h2>Time and Date</h2>
        <p><%= @event.date.strftime("%d %b %Y %A") %> <%= @event.time.strftime("%l:%M %p") %></p>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      
