 <%= render 'shared/navbar' %>
    <!-- ========== Page Header ========== -->
                <div class="jumbotron image-banner full-screen" style="background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/grace_final/justin_2.jpg') no-repeat 0 0 #ffffff;background-size:cover;background-position:center center">
            <div class="container">
                <div class="center-block">
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                    <h1 class="text-center">Create New</h1>
                    <h3 class="text-center"></h3>
                    <div class="text-center">
                                
                            </div>
                </div><div class="helper"></div>
            </div>
        </div>
        <!-- ========== /Page Header ========== -->

         <!-- ========== Page Content ========== -->
    <div class="section bg-white">
      <div class="container">         
          <div class="row">
                <div class="col-md-3">
                    
                    <!-- Shortcodes page list -->
                    <div class="list-group ">
                        <li class="list-group-item "><%= link_to "Create Event", new_event_path %></li>
                        <li class="list-group-item "><%= link_to "Create Sermons", new_sermon_path %></li>
                        <li class="list-group-item "><%= link_to "Create Community", new_group_path %></li>
                    </div>
                    <!-- /Shortcodes page list -->
                </div>
              
              
    <!-- ========== Community Group ========== -->                  
    <div class="col-md-9">


    <div class="panel panel-default">
      <div class="panel-heading">
       <h1> Community Group Events</h1>
      </div>
      <div class="panel-body">
        
        <% @group.each do |group| %>
          <div class="row">
            <div class="col-md-4">
              <%= image_tag group.photos[0].image.url(:thumb) if group.photos.length > 0 %>
            </div>    
            <div class="col-md-4">
              <h4><%= link_to group.title, group_path(group) %></h4>
            </div>  
              <div class="col-md-4">
              <h4><%= group.date.strftime(" %A, %b  %d  %Y") %> <br><%= group.time.strftime("%l:%M %p")%></h4>  
              <% if(!user_signed_in?) %>

            <% else %>
          <%= link_to "Update", edit_group_path(group), class: "btn btn-primary" %>
          <%= link_to 'Destroy', group_path(group),
              method: :delete,
              data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'%>
          <% end %>
              </div>
          </div>
          <hr>
        <% end %>
        <div class= "text-center">
         </div>

      </div>
    </div>







             <!-- ========== Create SErmons ========== -->

          


    <div class="panel panel-default">
      <div class="panel-heading">
       <h1> Sermons </h1>
      </div>
      <div class="panel-body">
        
        <% @sermon.each do |sermon| %>
          <div class="row">   
            <div class="col-md-6 text-center">
              <h2><%= link_to sermon.title, sermon_path(sermon) %></h2>
            </div>  
              <div class="col-md-6">
              <h4><%= sermon.date.strftime(" %A, %b  %d  %Y") %> <br><%= sermon.time.strftime("%l:%M %p")%></h4>  
              <% if(!user_signed_in?) %>

            <% else %>
          <%= link_to "Update", edit_sermon_path(sermon), class: "btn btn-primary" %>
          <%= link_to 'Destroy', sermon_path(sermon),
              method: :delete,
              data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'%>
          <% end %>
              </div>
          </div>
          <hr>
        <% end %>
        <div class= "text-center">
       
         </div>

      </div>
    </div>


 



               <!-- ========== Create Events========== -->


    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Upcoming Events </h1>
      </div>
      <div class="panel-body">
        
        <% @event.each do |event| %>
          <div class="row">
            <div class="col-md-4">
              <%= image_tag event.photos[0].image.url(:thumb) if event.photos.length > 0 %>
            </div>    
            <div class="col-md-4">
              <h4><%= link_to event.title, event_path(event) %></h4>
            </div>  
              <div class="col-md-4">
              <h4><%= event.date.strftime(" %A, %b  %d  %Y") %> <br><%= event.time.strftime("%l:%M %p")%></h4>  
              <% if(!user_signed_in?) %>

            <% else %>
          <%= link_to "Update", edit_event_path(event), class: "btn btn-primary" %>
          <%= link_to 'Destroy', event_path(event),
              method: :delete,
              data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'%>
          <% end %>
              </div>
          </div>
          <hr>
        <% end %>
        <div class= "text-center">
         </div>

      </div>
    </div>


  </div>
  </div>
  </div>
  </div>


 


