  <%= render 'shared/navbar' %>


        </div>
        <div class="clearfix"></div>
    </div>
    <!-- ========== /Navbar ========== -->    
    <!-- Page sections start. -->
  <div id="pages">
    
        <!-- ========== Page Header ========== -->
        <div class="jumbotron">
      <div class="container">
        <h2 class="block-title">Tabs</h2>
      </div>
    </div>
        <!-- ========== /Page Header ========== -->
        
        <!-- ========== Page Content ========== -->
    <div class="section bg-white">
      <div class="container">
                    
                    
                    <div class="row">
                <div class="col-md-3">
                    
                    <!-- Shortcodes page list -->
                    <div class="list-group">
                        <a href="/resources" class="list-group-item">Resources</a>
                        <a href="/sermon_series" class="list-group-item active">Sermon Series</a>
                        <a href="/app" class="list-group-item">App</a>
                        <a href="/books" class="list-group-item">Books</a>
                    </div>
                    <!-- /Shortcodes page list -->
                </div>

                <div class="col-md-9"> 
                
                    <h2>Sermon Series</h2>
                    <hr />
                    <div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- ========== /Navbar ========== -->    
    <!-- Page sections start. -->
  <div id="pages">
    
        <!-- ========== Page Header ========== -->
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Sermons
      </div>
      <div class="panel-body">
        
        <% @sermon.each do |sermon| %>
          <div class="row">    
            <div class="col-md-6 text-center">
              <h2><%= link_to sermon.title, sermon_path(sermon) %></h2>
            </div>  
              <div class="col-md-4">
              <h4><%= sermon.date.strftime(" %A, %b  %d  %Y") %> <br><%= sermon.time.strftime("%l:%M %p")%></h4>  
              <% if(!user_signed_in?) %>

            <% else %>
          <%= link_to "Update", edit_sermon_path(sermon), class: "btn btn-primary" %>
          <%= link_to 'Destroy', sermon_path(sermon),
              method: :delete,
              data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'%>
          <% end %>
              </div>
          </div>
          <hr>
        <% end %>
        <div class= "text-center">
       
         </div>

      </div>
    </div>
  </div>
</div>
 </div>
  </div>
</div>

    
    <!-- Back to Top -->
    <div id="back_to_top">
        <div class="container">
            <a href="#"><i class="ic ic-angle-up-white"></i></a>
        </div>
    </div>
    <!-- /Back to Top -->    
<%= render 'shared/footer' %>

<%= render 'shared/javascript' %>
    